<app-taskbar></app-taskbar>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="!isLoading">
  <div *ngIf="purchases.length !== 0">
    <div
      class="box card bw-radius-m shadow-sm"
      *ngFor="let purchase of purchases; let i = index"
    >
      <div class="id">Order ID {{ purchase.orderId }}</div>
      <div class="purchased">
        Purchased on {{ purchase.purchasedAt | date }}
      </div>
      <mat-divider></mat-divider>
      <div *ngFor="let product of purchase.products; let j = index">
        <div class="purchase">
          <div class="image">
            <img
              [src]="product.image | imageViewer"
              (click)="goToProductPage(product.id)"
            />
          </div>
          <div class="specs">
            <div class="price">{{ product.price }}₹</div>
            <div class="description">
              {{ product.description.substr(0, 65) }}...
            </div>
            <div class="unit">{{ purchase.productsQuantityList[j] }} unit</div>
          </div>
        </div>

        <button
           mat-raised-button
          *ngIf="purchase.isProductsReviewed[j] === false"
          class="unit"
          (click)="reviewProduct(product.id, purchase.orderId, j)"
        >
          review
        </button>
        <mat-divider></mat-divider>
      </div>
      <div class="details">
        <div class="payment">Payment type : {{ purchase.paymentMethod }}</div>
        <div class="price">{{ purchase.totalPrice }}₹</div>
      </div>
    </div>
  </div>

  <div *ngIf="purchases.length === 0" class="shadow-m box card bw-radius-m">
    <h2>No purchases Made!</h2>
  </div>
</div>
