<div class="login-form">
    <form class="form-elements" [formGroup]="userLoginForm">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="username">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </form>

    <div class="button-grouper">
        <button (click)="login()" mat-raised-button color="primary">
            Sign In
            <mat-icon>login</mat-icon>
        </button>

        <button [routerLink]="['/', 'signup']" mat-raised-button>
            Sign Up
            <mat-icon>person_add</mat-icon>
        </button>
    </div>

</div>