<app-taskbar></app-taskbar>

<mat-spinner color="warn" *ngIf="isLoading"></mat-spinner>

<div class="products" *ngIf="!isLoading">
    <div appScroller *ngFor="let product of products">
        <div class="product shadow-sm bw-radius-m">

            <div *ngIf="product.reviews !== 0" class="ratings">
                <app-rating [ratings]="product.ratings"></app-rating>
                <div class="stat">( {{product.reviews}} reviews )</div>
            </div>

            <div class="product-image" (click)="goToProductPage(product.id)">
                <img [src]="product.images | imageViewer">
            </div>

            <div class="cta-buttons">
                <button *ngIf="product.stock!==0" (click)="addProductToCart(product.id)" mat-raised-button
                    color="primary">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
                <button (click)="addProductToWishList(product.id)" mat-raised-button color="accent">
                    <mat-icon>favorite</mat-icon>
                </button>
            </div>

            <div class="specs">
                <div class="brand"> {{product.brand}} </div>
                <div class="price"> {{product.price}} ₹ only</div>
                <div *ngIf="product.stock!==0">
                    <div class="stock"> {{product.stock}} only left</div>
                </div>
                <div *ngIf="product.stock===0">
                    <div class="error"> Out of stock</div>
                </div>
                <div class="description"> {{product.description.substr(0, 120) }}...</div>
            </div>
        </div>
    </div>
</div>

<div class="paginator">
    <app-paginator [isLoading]="isLoading"></app-paginator>
</div>