<app-taskbar></app-taskbar>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="!isLoading">
    <div *ngIf="products.length === 0" class="image-empty">
        <img src="../../../assets/message/undraw_empty_xct9.svg">
        <div class="shadow-m bw-radius-m box">
            <h3>Wishlist is Empty!</h3>
            <h5>Add some favouite products to your wishlist.</h5>
        </div>
        <button mat-raised-button [routerLink]="['/', 'products']" class="see-products" color="primary">
            Trending Products
        </button>
    </div>

    <div *ngFor="let product of products; let i = index">
        <div class="products card box shadow-m bw-radius-m">
            <div class="product">
                <div class="image">
                    <img [src]="product.image | imageViewer" (click)="goToProductPage(product.id)">

                    <div class="specs">
                        <div class="price"> {{product.price}} ₹ </div>
                        <div class="brand"> {{product.brand}} </div>
                        <div class="stock"> only {{product.stock}} left </div>
                        <div class="description">
                            {{product.description}}
                        </div>
                    </div>

                    <div class="buttons-group">
                        <button *ngIf="product.stock!==0" (click)="moveProductToCart(product.id, i)" mat-mini-fab
                            color="primary">
                            <mat-icon>shopping_cart</mat-icon>
                        </button>

                        <button (click)="removeProductFromWishList(product.id, i)" mat-mini-fab color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>